<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="naver-site-verification" content="daefca3a44f1b7ee89c8cbcfcb73715ec7060547" />
    <link rel="icon" href="/favicon.ico">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="Team Alpha 공식 사이트">
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/custom/App.css">
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap/bootstrap.min.js"></script>
    <script src="/static/js/app.js"></script>
    <title>Team Alpha</title>
</head>

<body>
    <div id="root">
        <div class="App">
            <div>
                <%- include('../../public/components/navbar.ejs') %>
                <div class="index"><span class="index-topic">Team Alpha</span><span class="index-desc">대시보드</span></div>
            </div>
            <%- include('../../public/components/footer.ejs') %>
    </div>
</body>

</html>
