<div class="footer">
    <div class="container">
        <div class="footer-grid">
            <div class="footer-desc">
                <h4 class="footer-topic">Team Alpha</h4>관리자: 건유1019#0001<br>Copyright 2020-2021 Team Alpha, All rights reserved.</div>
            <div class="footer-desc"><span class="footer-box"><img alt="github" src="/public/static/img/github.svg" height="20px"><a href="https://github.com/team-alpha-kr/" class="footer-link">Team Alpha 깃허브</a></span><span class="footer-box"><img alt="discord" src="/public/static/img/discord.svg" height="20px"><a href="/discord" class="footer-link">Team Alpha 공식 디스코드</a></span></div>
        </div>
    </div>
</div>
</div>
