                <nav class="navbar navbar-expand-lg navbar-dark navbar-setting">
                    <div class="container"><a class="navbar-brand" href="/"><img class="logo" alt="logo" src="/public/static/img/logo.png" height="30px"><span class="navbar-main">Team Alpha</span></a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"><a class="nav-link active" href="/">홈 <span class="sr-only">(current)</span></a></li>
                                <li class="nav-item"><a class="nav-link active" href="/about">소개 <span class="sr-only">(current)</span></a></li>
                                <li class="nav-item"><a class="nav-link active" href="/members">팀원 <span class="sr-only">(current)</span></a></li>
                                <li class="nav-item"><a class="nav-link active" href="/bots">봇 <span class="sr-only">(current)</span></a></li>
                                <li class="nav-item"><a class="nav-link active" href="/team/join">채용 <span class="sr-only">(current)</span></a></li>
                                <li class="nav-item"><a class="nav-link active" href="/partner">파트너 신청 <span class="sr-only">(current)</span></a></li>
                                <li class="nav-item"><a class="nav-link active" href="/term">이용약관 <span class="sr-only">(current)</span></a></li>
                                <li class="nav-item"><a class="nav-link active" href="/discord">디스코드 <span class="sr-only">(current)</span></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>