                <nav class="navbar navbar-expand-lg navbar-dark navbar-setting">
                    <div class="container"><a class="navbar-brand" href="/"><img class="logo" alt="logo" src="/static/img/logo.png" height="30px"><span class="navbar-main">Team Alpha</span></a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"><a aria-current="page" class="nav-link active" href="/">홈 <span class="sr-only">(current)</span></a></li>
                                <li class="nav-item"><a class="nav-link active" href="/about.html">소개</a></li>
                                <li class="nav-item"><a class="nav-link active" href="/members.html">팀원</a></li>
                                <li class="nav-item"><a class="nav-link active" href="/bots.html">봇</a></li>
                                <li class="nav-item"><a class="nav-link active" href="/team/join.html">채용</a></li>
                                <li class="nav-item dropdown"><a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">이용약관</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      <a class="dropdown-item" href="/term.html">서비스 이용약관 (ToS)</a>
                                      <a class="dropdown-item" href="/privacy.html">개인정보처리방침</a>
                                    </div>
                                  </li>
                                <li class="nav-item"><a class="nav-link active" href="/discord.html">디스코드</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>