<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="naver-site-verification" content="daefca3a44f1b7ee89c8cbcfcb73715ec7060547" />
    <link rel="icon" href="/favicon.ico">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="Team Alpha 공식 사이트">
    <link rel="stylesheet" href="/public/static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/public/static/css/font.css">
    <link rel="stylesheet" href="/public/static/css/custom/App.css">
    <script src="/public/static/js/jquery-3.5.1.min.js"></script>
    <script src="/public/static/js/popper.min.js"></script>
    <script src="/public/static/js/bootstrap/bootstrap.min.js"></script>
    <script src="/public/static/js/app.js"></script>
    <title>Team Alpha</title>
</head>

<body>
  <div id="root">
    <div class="App">
        <%- include('./components/navbar.ejs') %>
        <div>
            <div class="index-full">
                <span class="index-topic">403 Forbidden</span>
                <span class="index-desc">이 페이지에 접근 할 권한이 없거나, 비밀번호를 잘못 입력 하셨습니다.<br />다시 한번 확인해 주시기 바랍니다.</span>
            </div>
        </div>
        <%- include('./components/footer.ejs') %>
        <%- include('./components/channel.ejs') %>
    </div>
  </div>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-2HLCN2VQE2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-2HLCN2VQE2');
  </script>
</body>
</html>
