<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="naver-site-verification" content="daefca3a44f1b7ee89c8cbcfcb73715ec7060547" />
    <link rel="icon" href="/favicon.ico">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="Team Alpha 공식 사이트">
    <link rel="stylesheet" href="../public/static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../public/static/css/font.css">
    <link rel="stylesheet" href="../public/static/css/custom/App.css">
    <script src="../public/static/js/jquery-3.5.1.min.js"></script>
    <script src="../public/static/js/popper.min.js"></script>
    <script src="../public/static/js/bootstrap/bootstrap.min.js"></script>
    <script src="../public/static/js/app.js"></script>
    <title>Team Alpha</title>
</head>

<body>
  <div id="root">
    <div class="App">
        <div>
            <div include-html="../public/components/navbar.html"></div>
            <div class="index-small"><span class="index-topic-small">Team Alpha</span></div>
<div class="introduce bg-1 cr-0">
    <div class="container">
        <div class="left"><span class="cr-1 intro-topic">다양한 팀원들의 봇</span><span class="cr-1 intro-desc">다양한 팀원들의 디스코드봇들을 확인해보세요!</span></div>
        <div class="card-columns">
            <div class="card bot-card">
                <div class="card-body"><img class="bot-card-img" src="../public/static/img/bots/intbot.png" alt="인트봇"><span class="card-title bot-card-title">인트봇</span>
                    <p class="card-text bot-card-text">여러분의 심심함을 <br>한번에 날려버려줄 재밌는 봇, 인트봇입니다!<br>많은 이용 부탁드립니다!</p>                    <hr class="rounded bot-dividers"><a href="https://discordapp.com/oauth2/authorize?client_id=798709769929621506&scope=bot&permissions=8" class="bot-button btn btn-primary">초대하기</a></div>
            </div>
            <div class="card bot-card">
                <div class="card-body"><img class="bot-card-img" src="../public/static/img/bots/endbot.png" alt="Endbot"><span class="card-title bot-card-title">Endbot</span>
                    <p class="card-text bot-card-text">디스코드봇 소개<br>디스코드봇 소개<br>디스코드봇 소개</p>
                    <hr class="rounded bot-dividers"><a href="https://discordapp.com/oauth2/authorize?client_id=703805548365086720&scope=bot&permissions=8" class="bot-button btn btn-primary">초대하기</a></div>
            </div>
            <div class="card bot-card">
                <div class="card-body"><img class="bot-card-img" src="../public/static/img/bots/botflix.png" alt="Botflix"><span class="card-title bot-card-title">Botflix</span>
                    <p class="card-text bot-card-text">디스코드봇 소개<br>디스코드봇 소개<br>디스코드봇 소개</p>
                    <hr class="rounded bot-dividers"><a href="https://discordapp.com/oauth2/authorize?client_id=791653946392838145&scope=bot&permissions=8" class="bot-button btn btn-primary">초대하기</a></div>
            </div>
            <div class="card bot-card">
                <div class="card-body"><img class="bot-card-img" src="../public/static/img/bots/pigbot.png" alt="PIGbot(꿀꿀봇)"><span class="card-title bot-card-title">PIGbot(꿀꿀봇)</span>
                    <p class="card-text bot-card-text">디스코드봇 소개<br>디스코드봇 소개<br>디스코드봇 소개</p>
                    <hr class="rounded bot-dividers"><a href="https://discordapp.com/oauth2/authorize?client_id=702857016539873372&scope=bot&permissions=8" class="bot-button btn btn-primary">초대하기</a></div>
            </div>
            <div class="card bot-card">
                <div class="card-body"><img class="bot-card-img" src="../public/static/img/bots/noryon.png" alt="놀욘봇"><span class="card-title bot-card-title">놀욘봇</span>
                    <p class="card-text bot-card-text">디스코드봇 소개<br>디스코드봇 소개<br>디스코드봇 소개</p>
                    <hr class="rounded bot-dividers"><a href="https://discordapp.com/oauth2/authorize?client_id=692294930416140308&scope=bot&permissions=8" class="bot-button btn btn-primary">초대하기</a></div>
            </div>
            <div class="card bot-card">
                <div class="card-body"><img class="bot-card-img" src="../public/static/img/bots/noryon2.png" alt="놀욘봇 v2"><span class="card-title bot-card-title">놀욘봇 v2</span>
                    <p class="card-text bot-card-text">디스코드봇 소개<br>디스코드봇 소개<br>디스코드봇 소개</p>
                    <hr class="rounded bot-dividers"><a href="https://discordapp.com/oauth2/authorize?client_id=759716686508851220&scope=bot&permissions=8" class="bot-button btn btn-primary">초대하기</a></div>
            </div>
            <div class="card bot-card">
                <div class="card-body"><img class="bot-card-img" src="../public/static/img/bots/music.png" alt="Music_Bot"><span class="card-title bot-card-title">Music_Bot</span>
                    <p class="card-text bot-card-text">디스코드봇 소개<br>디스코드봇 소개<br>디스코드봇 소개</p>
                    <hr class="rounded bot-dividers"><a href="https://discordapp.com/oauth2/authorize?client_id=746895766684958820&scope=bot&permissions=8" class="bot-button btn btn-primary">초대하기</a></div>
            </div>
            <div class="card bot-card">
                <div class="card-body"><img class="bot-card-img" src="../public/static/img/bots/music2.png" alt="노래"><span class="card-title bot-card-title">노래</span>
                    <p class="card-text bot-card-text">디스코드봇 소개<br>디스코드봇 소개<br>디스코드봇 소개</p>
                    <hr class="rounded bot-dividers"><a href="https://discordapp.com/oauth2/authorize?client_id=2066dcab212d0c55332bb767d44b7b70&scope=bot&permissions=8" class="bot-button btn btn-primary">초대하기</a></div>
            </div>
            <div class="card bot-card">
                <div class="card-body"><img class="bot-card-img" src="../public/static/img/bots/skybot.png" alt="스카이봇"><span class="card-title bot-card-title">스카이봇</span>
                    <p class="card-text bot-card-text">디스코드봇 소개<br>디스코드봇 소개<br>디스코드봇 소개</p>
                    <hr class="rounded bot-dividers"><a href="https://discordapp.com/oauth2/authorize?client_id=669029984672677898&scope=bot&permissions=8" class="bot-button btn btn-primary">초대하기</a></div>
            </div>
            <div class="card bot-card">
                <div class="card-body"><img class="bot-card-img" src="../public/static/img/bots/ybot.png" alt="YBOT"><span class="card-title bot-card-title">YBOT</span>
                    <p class="card-text bot-card-text">디스코드봇 소개<br>디스코드봇 소개<br>디스코드봇 소개</p>
                    <hr class="rounded bot-dividers"><a href="https://discordapp.com/oauth2/authorize?client_id=680694763036737536&scope=bot&permissions=8" class="bot-button btn btn-primary">초대하기</a></div>
            </div>
            <div class="card bot-card">
                <div class="card-body"><img class="bot-card-img" src="../public/static/img/bots/pubgbot.png" alt="PUBG BOT"><span class="card-title bot-card-title">PUBG BOT</span>
                    <p class="card-text bot-card-text">디스코드봇 소개<br>디스코드봇 소개<br>디스코드봇 소개</p>
                    <hr class="rounded bot-dividers"><a href="https://discordapp.com/oauth2/authorize?client_id=704683198164238446&scope=bot&permissions=8" class="bot-button btn btn-primary">초대하기</a></div>
            </div>
            <div class="card bot-card">
                <div class="card-body"><img class="bot-card-img" src="../public/static/img/bots/irudabot.png" alt="iRuda Bot"><span class="card-title bot-card-title">iRuda Bot</span>
                    <p class="card-text bot-card-text">디스코드봇 소개<br>디스코드봇 소개<br>디스코드봇 소개</p>
                    <hr class="rounded bot-dividers"><a href="https://discordapp.com/oauth2/authorize?client_id=679600384422969367&scope=bot&permissions=8" class="bot-button btn btn-primary">초대하기</a></div>
            </div>
            <div class="card bot-card">
                <div class="card-body"><img class="bot-card-img" src="../public/static/img/bots/starbot.png" alt="Star Bot"><span class="card-title bot-card-title">Star Bot</span>
                    <p class="card-text bot-card-text">디스코드봇 소개<br>디스코드봇 소개<br>디스코드봇 소개</p>
                    <hr class="rounded bot-dividers"><a href="https://discordapp.com/oauth2/authorize?client_id=753167885249019915&scope=bot&permissions=8" class="bot-button btn btn-primary">초대하기</a></div>
            </div>
            <div class="card bot-card">
                <div class="card-body"><img class="bot-card-img" src="../public/static/img/bots/japangibot.png" alt="자판기"><span class="card-title bot-card-title">자판기</span>
                    <p class="card-text bot-card-text">디스코드봇 소개<br>디스코드봇 소개<br>디스코드봇 소개</p>
                    <hr class="rounded bot-dividers"><a href="https://discordapp.com/oauth2/authorize?client_id=777440059875131392&scope=bot&permissions=8" class="bot-button btn btn-primary">초대하기</a></div>
            </div>
        </div>
    </div>
</div>
        </div>
        <div include-html="../public/components/footer.html"></div>
</div>
    <script>
      includeHTML()
    </script>
</body>
</html>
