<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="naver-site-verification" content="daefca3a44f1b7ee89c8cbcfcb73715ec7060547" />
        <title>Team Alpha</title>
    </head>
    <body>
        <script>
            location.replace('https://discord.gg/tx4cGam2jd')
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-2HLCN2VQE2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-2HLCN2VQE2');
        </script>
    </body>
</html>
