<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="Team Alpha 공식 사이트">
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/custom/App.css">
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap/bootstrap.min.js"></script>
    <script src="/static/js/app.js"></script>
    <title>Team Alpha</title>
</head>

<body>
  <div id="root">
    <div class="App">
        <div>
            <div include-html="/components/navbar.html"></div>
            <div class="index-small"><span class="index-topic-small">Team Alpha</span></div>
<div class="introduce bg-1 cr-0">
    <div class="container">
        <div class="left"><span class="cr-1 intro-topic">Team Alpha 팀원 소개</span><span class="cr-1 intro-desc">Team Alpha의 팀원 현황을 확인해보세요!</span></div>
        <div class="card-columns">
            <div class="card bot-card">
                <div class="card-body"><img class="bot-card-img" src="static/img/members/gunyu1019.png" alt="건유1019"><span class="card-title bot-card-title">건유1019</span>
                    <p class="card-text bot-card-text">Team Alpha의 총관리자 이자, 평범한 것 같은 고등학생 같은 개발자 입니다.<br>&nbsp;</p>
                    <hr class="rounded bot-dividers"><a href="https://github.com/gunyu1019" class="bot-button btn btn-info">Github</a>
                </div>
            </div>
            <div class="card bot-card">
              <div class="card-body"><img class="bot-card-img" src="static/img/members/alphagot.png" alt="AlphaGot"><span class="card-title bot-card-title">AlphaGot</span>
                  <p class="card-text bot-card-text">소개<br>소개<br>소개</p>
                  <hr class="rounded bot-dividers"><a href="https://github.com/shs3182ym" class="bot-button btn btn-info">Github</a>
              </div>
          </div>
          <div class="card bot-card">
            <div class="card-body"><img class="bot-card-img" src="static/img/members/bainble0211.gif" alt="Bainble0211"><span class="card-title bot-card-title">Bainble0211</span>
                <p class="card-text bot-card-text">중딩 디스코드 봇 개발자<br>&nbsp;<br>&nbsp;</p>
                <hr class="rounded bot-dividers"><a href="https://github.com/bainble0211" class="bot-button btn btn-info">Github</a>
            </div>
        </div>
        <div class="card bot-card">
          <div class="card-body"><img class="bot-card-img" src="static/img/members/int.png" alt="int"><span class="card-title bot-card-title">int</span>
              <p class="card-text bot-card-text">학생 개발자 인트입니다.<br>개발에 관심이 많으며 아직 부족한 부분들이 <br>있지만 보완해 나가고 있습니다.</p>
              <hr class="rounded bot-dividers"><a href="https://github.com/chul0721" class="bot-button btn btn-info">Github</a>
          </div>
      </div>
      <div class="card bot-card">
        <div class="card-body"><img class="bot-card-img" src="static/img/members/kms0219kms.png" alt="All PGS"><span class="card-title bot-card-title">All PGS</span>
            <p class="card-text bot-card-text">Python, NodeJS, PHP programmer<br>A student developer specializing in the web<br>Official developer of SW&Nano partnership</p>
            <hr class="rounded bot-dividers"><a href="https://github.com/kms0219kms" class="bot-button btn btn-info">Github</a>
        </div>
    </div>
    <div class="card bot-card">
      <div class="card-body"><img class="bot-card-img" src="static/img/members/LO.png" alt="L.O"><span class="card-title bot-card-title">L.O</span>
          <p class="card-text bot-card-text">안녕하세요? 저는 Team Alpha 공식 디스코드 서버의 커뮤니티 관리자 리네우스 입니다!<br>&nbsp;</p>
          <hr class="rounded bot-dividers"><a href="https://github.com/juni37" class="bot-button btn btn-info">Github</a>
      </div>
  </div>
  <div class="card bot-card">
    <div class="card-body"><img class="bot-card-img" src="static/img/members/norhu1130.png" alt="norhu1130"><span class="card-title bot-card-title">norhu1130</span>
        <p class="card-text bot-card-text">안녕하세요<br>이사이트를 개발, 호스팅 하고있는<br>norhu1130입니다</p>
        <hr class="rounded bot-dividers"><a href="https://github.com/norhu1130" class="bot-button btn btn-info">Github</a>
    </div>
</div>
<div class="card bot-card">
  <div class="card-body"><img class="bot-card-img" src="static/img/members/pig.png" alt="안꿀꿀"><span class="card-title bot-card-title">안꿀꿀</span>
      <p class="card-text bot-card-text">코딩은 잘하지 않지만 그레도 한다<br>자스 만세<br>오타는 기본</p>
      <hr class="rounded bot-dividers"><a href="https://github.com/MadeGOD" class="bot-button btn btn-info">Github</a>
  </div>
</div>
<div class="card bot-card">
  <div class="card-body"><img class="bot-card-img" src="static/img/members/ruda328.png" alt="루다"><span class="card-title bot-card-title">루다</span>
      <p class="card-text bot-card-text">Python, Java, C programmer<br>iRuda SOFT CEO<br>Official Developer of iRuda BOT</p>
      <hr class="rounded bot-dividers"><a href="https://github.com/ruda328" class="bot-button btn btn-info">Github</a>
  </div>
</div>
<div class="card bot-card">
  <div class="card-body"><img class="bot-card-img" src="static/img/members/tim23.gif" alt="Tim23"><span class="card-title bot-card-title">Tim23</span>
      <p class="card-text bot-card-text">파이썬, 개발, 농구를 좋아하는 <br>평범한 중딩 개발자<br>&nbsp;</p>
      <hr class="rounded bot-dividers"><a href="https://github.com/tim232" class="bot-button btn btn-info">Github</a>
  </div>
</div>
<div class="card bot-card">
  <div class="card-body"><img class="bot-card-img" src="/static/img/logo.png" alt="comjun04"><span class="card-title bot-card-title">comjun04</span>
      <p class="card-text bot-card-text">아직 소개글이 없습니다<br>&nbsp;<br>&nbsp;</p>
      <hr class="rounded bot-dividers"><a href="https://github.com/comjun04" class="bot-button btn btn-info">Github</a>
  </div>
</div>
<div class="card bot-card">
  <div class="card-body"><img class="bot-card-img" src="static/img/members/one.png" alt="놀욘"><span class="card-title bot-card-title">놀욘</span>
      <p class="card-text bot-card-text">안녕하세요 놀욘입니다!<br>개발은 잘 못하지만 열심히해보겠어요!<br>(학생이지만요..)</p>
      <hr class="rounded bot-dividers"><a href="https://github.com/noryonkr" class="bot-button btn btn-info">Github</a>
  </div>
</div>
        </div>
    </div>
    
</div>
        </div>
        <div include-html="/components/footer.html"></div>
</div>
    <script>
      includeHTML()
    </script>
</body>
</html>
