
<!DOCTYPE html>
<html lang="ko">
<head>
    <title>개인정보처리방침</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="./static/css/policy/popup.css">
    <link rel="stylesheet" type="text/css" href="./static/css/policy/popup_inf.css">
    <link rel="stylesheet" type="text/css" href="./static/css/policy/style.css">
    <link rel="stylesheet" href="./static/css/policy/policy.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="Keywords" content="Team Alpha" />
    <meta name="Description" content="Team Alpha" />
    <meta http-equiv="Subject" content="Team Alpha" />
    <meta http-equiv="Title" content="Team Alpha" />
    <meta http-equiv="Author" content="Team Alpha" />
    <meta http-equiv="Publisher" content="Team Alpha" />
    <meta http-equiv="Other Agent" content="All PGS" />
    <meta http-equiv="Generator" content="Team Alpha" />
    <script src="./static/js/policy/site.js"></script>
    <script src="./static/js/policy/policy.js"></script>
    <script type="text/javascript">
        if (getParam("version") == '' || getParam("version") == null) {
            location.replace('./privacy.html?version=20210112');
        }
    </script>
</head>
<body onload="includeHTML();">
    <!-- popwrap -->
        <h1>개인정보처리방침</h1>
        <!-- popcont -->
        <br>
<div class="dropdown">
  <script>
	  var version = getParam("version")
	  document.write('<button class="dropbtn" onclick="myFunction()">' + version + ' <i class="fa fa-caret-down"></i></button>');
  </script>
  <div class="dropdown-content" id="myDropdown">
    <a href="./privacy.html">Latest</a>
    <a href="./privacy.html?version=20210108">20210108</a>
    <a href="./privacy.html?version=20210112">20210112</a>
  </div>
  </div> 
</div>
	</div><br>
        <script>document.write('<div class="popcont law" role="div" include-html="./policy/privacy/'+ version +'.html"></div>');</script>
        <!-- //popcont -->
    </div>
    <!-- //popwrap -->
</body>
</html>