<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="naver-site-verification" content="daefca3a44f1b7ee89c8cbcfcb73715ec7060547" />
    <link rel="icon" href="/favicon.ico">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="Team Alpha 공식 사이트">
    <link rel="stylesheet" href="../public/static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../public/static/css/font.css">
    <link rel="stylesheet" href="../public/static/css/custom/App.css">
    <script src="../public/static/js/jquery-3.5.1.min.js"></script>
    <script src="../public/static/js/popper.min.js"></script>
    <script src="../public/static/js/bootstrap/bootstrap.min.js"></script>
    <script src="../public/static/js/app.js"></script>
    <title>Team Alpha</title>
</head>

<body>
  <div id="root">
    <div class="App">
        <div>
            <div include-html="../public/components/navbar.html"></div>
            <div class="index-small"><span class="index-topic-small">Team Alpha</span></div>
<div class="introduce bg-1 cr-0">
    <div class="container">
        <div class="left"><span class="cr-1 intro-topic">Team Alpha 이용 약관</span><span class="cr-1 intro-desc">Team Alpha의 이용 약관을 확인해보세요!</span></div>
        <div class="card-columns">
            <div class="card bot-card">
                <div class="card-body"><img class="bot-card-img" src="../public/static/img/logo.png" alt="Alpha"><span class="card-title bot-card-title">디스코드 이용약관</span>
                    <p class="card-text bot-card-text">Team Alpha 공식 디스코드 이용약관을 확인해보세요!<br>&nbsp;</p>
                    <hr class="rounded bot-dividers"><a href="http://www.alphakr.xyz/term_discord.html" class="bot-button btn btn-info">확인하기</a>
                </div>
            </div>
            <div class="card bot-card">
                <div class="card-body"><img class="bot-card-img" src="../public/static/img/logo.png" alt="Alpha"><span class="card-title bot-card-title">소속 봇/서비스 이용약관</span>
                    <p class="card-text bot-card-text">Team Alpha 소속 봇 및 Team Alpha 가 제공하는 서비스의 이용약관을 확인해보세요!<br>&nbsp;</p>
                    <hr class="rounded bot-dividers"><a href="http://www.alphakr.xyz/service_tos.html" class="bot-button btn btn-info">확인하기</a>
                </div>
            </div>
            <div class="card bot-card">
                <div class="card-body"><img class="bot-card-img" src="../public/static/img/logo.png" alt="Alpha"><span class="card-title bot-card-title">디스코드 이용약관</span>
                    <p class="card-text bot-card-text">여러분의 개인정보는 소중하니까~ Team Alpha의 개인정보 처리방침을 확인해보세요!<br>&nbsp;</p>
                    <hr class="rounded bot-dividers"><a href="http://www.alphakr.xyz/privacy.html" class="bot-button btn btn-info">확인하기</a>
                </div>
            </div>
    
</div>
        </div>
        <div include-html="../public/components/footer.html"></div>
</div>
    <script>
      includeHTML()
    </script>
</body>
</html>
