<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="naver-site-verification" content="daefca3a44f1b7ee89c8cbcfcb73715ec7060547" />
    <link rel="icon" href="/favicon.ico">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="Team Alpha 공식 사이트">
    <link rel="stylesheet" href="/public/static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/public/static/css/font.css">
    <link rel="stylesheet" href="/public/static/css/custom/App.css">
    <script src="/public/static/js/jquery-3.5.1.min.js"></script>
    <script src="/public/static/js/popper.min.js"></script>
    <script src="/public/static/js/bootstrap/bootstrap.min.js"></script>
    <script src="/public/static/js/app.js"></script>
    <title>Team Alpha</title>
</head>

<body>
  <div id="root">
    <div class="App">
        <div>
            <%- include('../components/navbar.ejs') %>
            <div class="index-small"><span class="index-topic-small">Team Alpha 팀원 채용</span></div>
            <div class="introduce bg-1 cr-0">
              <div class="container">
                  <div class="left"><span class="cr-1 intro-topic">Team Alpha의 팀원 채용 소식</span><span class="cr-1 intro-desc">Team Alpha에 일원이 되고 싶으신가요? 아래에서 채용 소식을 확인하시고, 팀원 신청을 하셔서 팀원이 되어 보세요!<br>아래 페이지가 아직 개발중인가요? <a href = "https://temporary.alphakr.xyz/recruit">여기</a>에서 임시로 채용공고를 확인하세요!</span></div>
                  <iframe src="/preparing/nc" width="100%" height="650vh" scrolling="no" frameborder="0"></iframe>
              </div>
            </div>
        </div>
        <%- include('../components/footer.ejs') %>
    </div>
  </div>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-2HLCN2VQE2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-2HLCN2VQE2');
  </script>
</body>
</html>
